#header {
    background-color: rgb(44, 137, 180);
    color:white;
    display: flex;
    align-items: center;
    flex-direction:row;
    justify-content: center;
    align-self: center;
    font-family: "Palatino Linotype";
    /* padding: 5px 5px; */
    font-size:14px;
    margin: 0;
    padding: 0 0px;
}

.icon {
    padding: 0 0px;
}

