#header {
    background-color: rgb(28, 28, 167);
    color:white;
    display: flex;
    align-items: center;
    flex-direction:row;
    justify-content: center;
    align-self: center;
    font-family: "Palatino Linotype";
    padding: 10px 10px;
    margin: 0;
    padding: 0 0px;
}

.icon {
    padding: 0 10px;
}

